/.DS_Store 

/node_modules

/.next

/.vscode

/.env

/.env.local

/yarn-error.log

/package-lock.json
tsconfig.tsbuildinfo


/tsconfig.tsbuildinfo

/npm

/yarn

/.vscode

/helpers/withAuth.tsx
/helpers/withoutAuth.tsx

