/.DS_Store 

/node_modules

/.next

/.vscode

/.env

/.env.local

/yarn-error.log

/package-lock.json
tsconfig.tsbuildinfo


/tsconfig.tsbuildinfo

/npm

/yarn
/yarn.lock
/.yarnrc.yml
/.vscode
.DS_Store 
health_check.md
# /helpers/withAuth.tsx
# /helpers/withoutAuth.tsx

