@tailwind base;
@tailwind components;
@tailwind utilities;

select.hide-caret {
  appearance: none;
}

input[type='number']::-webkit-inner-spin-button {
  display: none;
}

/* Fallback for other browsers */
input[type='number'] {
  appearance: textfield;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
}

/* disable scroll bar on custom section - portfolio */

.renderedFields::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.renderedFields::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.renderedFields::-webkit-scrollbar-thumb {
  background: #d1d1d1;
}