@tailwind base;
@tailwind components;
@tailwind utilities;

select.hide-caret {
  appearance: none;
}

input[type='number']::-webkit-inner-spin-button {
  display: none;
}

/* Fallback for other browsers */
input[type='number'] {
  appearance: textfield;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
}
